@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
$background: #202020;
$white: #fff;
$blue: #0b83b8;
$red: #ff4385;
$font-Pacifico: "Pacifico", cursive;
$font-Segoe: "Segoe UI";

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $background;

  .sidenav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    width: 5%;
    height: 100%;
    padding: 10px 5px;
    border-right: 1px solid rgba(255, 255, 255, 0.21);

    .logo-main {
      display: flex;
      justify-content: center;
      align-items: center;
      height:5%;
      .m-red {
        position: absolute;
        background: #FF4385;
        background: -webkit-linear-gradient(to top left, #FF4385 0%, #0B83B8 100%);
        background: -moz-linear-gradient(to top left, #FF4385 0%, #0B83B8 100%);
        background: linear-gradient(to top left, #FF4385 0%, #0B83B8 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $font-Pacifico;
        font-size: 42px;
        line-height: 40px;
        text-shadow: 0px 0px 10px rgba(255,67,133,0.5);
        letter-spacing: 0;
      }
      .m-blue {
        color: $blue;
        font-family: $font-Pacifico;
        font-size: 42px;
        padding-left: 6px;
      }
    }
    .logo-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 35px;
      .bx {
        font-size: 42px;
        color: $white;
        cursor: pointer;
        &:hover {
          color: $red;
        }
      }
    }
    .text-certificat {
      display: flex;
      align-items: center;
      font-size: 20px;
      color: $white;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      padding-bottom: 15px;
    }
  }
  .content {
    width: 95%;
    height: 100%;
    overflow: auto;
    margin: 20px;
    .home {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;
      .avatar {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        img {
          width: 100%;
          height: auto;
          margin-top: -50px;
        }
      }
      .name {
        font-family: $font-Pacifico;
        font-size: 36px;
        color: $white;
      }
      .bio {
        font-family: $font-Segoe;
        font-size: 20px;
        color: $white;
      }
      .logo-social {
        display: flex;
        gap: 21px;
        .bx {
          color: $white;
          font-size: 46px;

          &:hover {
            cursor: pointer;
          }
        }
      }
      .btn-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 40px;
        border-radius: 25px;
        border: 3px solid $red;
        font-family: $font-Pacifico;
        font-size: 24px;
        color: $red;

        &:hover {
          background-color: $red;
          color: $background;
          cursor: pointer;
        }
      }
    }
    .projet {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title {
        color: $white;
        font-family: $font-Pacifico;
        font-size: 36px;
        padding: 50px;
      }
      .content-projet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        .projet {
          .cadre {
            height: 300px;
            width: 400px;
            backdrop-filter: blur(7.5px);
            box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.068); 
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50px;
            padding: 32px;
          }
        }
      }
    }
    .techno {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 5%;
      .title-techno {
        display: flex;
        justify-content: center;
        color: $white;
        font-family: $font-Pacifico;
        font-size: 36px;
        padding: 50px;
      }
      .content-techno {
        display: flex;
        flex-direction: row;
        gap: 50px;
          
          .bx {
            border-radius: 20px;
            padding: 5px;
            font-size: 50px;
            color: $background;
          }
          .bxl-sass{
            background: linear-gradient(135deg,#e9acff .3%,#ff4fce 99.68%);
            box-shadow: 0px 0px 20px 1px rgba(233,172,255,0.5); 
          }
          .bxl-angular{
            background: linear-gradient(136.47deg,#ffa7c1 -.27%,#ff5050 99.75%);
            box-shadow: 0px 0px 20px 1px #ffa7c1; 
          }
          .bxl-typescript{
            background: linear-gradient(225deg,#b1b5ff .07%,#4260ff 99.79%);
            box-shadow: 0px 0px 20px 1px #b1b5ff; 
          }
          .bxs-coin-stack{
            background: linear-gradient(135deg,#e7a4ff -.49%,#a532ff 100.13%);
            box-shadow: 0px 0px 20px 1px #e7a4ff; 
          }
          .bxl-javascript{
            background: linear-gradient(45deg,#ffcca8 .21%,#fffa87 99.93%);
            box-shadow: 0px 0px 20px 1px #fffa87; 
          }
          .bxl-php{
            background: linear-gradient(225deg,#99daff .14%,#a966ff 99.86%);
            box-shadow: 0px 0px 20px 1px #99daff;
          }
          .bxl-git{
            background: linear-gradient(225deg,#ffd6bf .14%,#ff7272 99.86%);
            box-shadow: 0px 0px 20px 1px #ff7272;
          }
          .bxl-github{
            background: linear-gradient(45deg,#89e3ff .29%,#cfffb8 50.14%,#ffe177);
            box-shadow: 0px 0px 20px 1px #89e3ff;
          }
          .bxl-gitlab{
            background: linear-gradient(225deg,#fff6a7,#ff6e41 99.71%);
            box-shadow: 0px 0px 20px 1px #ff6e41;
          }
          .bxl-trello{
            background: linear-gradient(225.22deg,#93ffff -.09%,#59a5ff 100.01%);
            box-shadow: 0px 0px 20px 1px #59a5ff;
          }
          .bxl-figma{
            background: linear-gradient(225.22deg,#aae0ff -.01%,#5affce 100.08%);
            box-shadow: 0px 0px 20px 1px #5affce;
          }
        }
    }
    .exp {
      padding: 50px 25%;
      .title {
        display: flex;
        justify-content: center;
        color: $white;
        font-family: $font-Pacifico;
        font-size: 36px;
        padding: 10px;
      }
      .content-exp {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        gap: 100px;
        .student {
          display: flex;
          flex-direction: column;
        }
        .work {
          display: flex;
          flex-direction: column;
        }
        .item {
          display: flex;
          flex-direction: row;

          .decor {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $red;
            .bx {
              font-size: 44px;
            }
            .ligne {
              width: 3px;
              height: 40px;
              background-color: $red;
            }
          }
          .info {
            .year {
              font-size: 14px;
              color: $white;
            }
            .name {
              font-size: 20px;
              color: $white;
            }
            .content-info {
            }
          }
        }
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 25%;
      .title {
        color: $white;
        font-family: $font-Pacifico;
        font-size: 36px;
        margin: 20px;
      }
      .form {
        form {
          display: flex;
          flex-direction: column;

          ::ng-deep .mdc-text-field {
            border-radius: 10px;
          }
        }
      }
      .btn-send {
      }
    }
  }
}
