<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<div class="container">
  <div class="sidenav">
    <div class="logo-main">
      <div class="m-red">Mc</div>
      <div class="m-blue">Mc</div>
    </div>
    <div class="logo-menu">
      <div class="bx bx-home-alt-2"></div>
      <div class="bx bx-archive"></div>
      <div class="bx bx-code-alt"></div>
      <div class="bx bx-certification"></div>
      <div class="bx bx-envelope"></div>
    </div>
    <div class="text-certificat">© 2023 Marion Calpena.</div>
  </div>
  <div class="content">
    <div class="home">
      <div class="avatar">
        <img src="assets\IMG_20230617_202924.jpg" />
      </div>
      <div class="name">Marion Calpena</div>
      <div class="bio">Je suis ....</div>
      <div class="logo-social">
        <div class="bx bxl-github"></div>
        <div class="bx bxl-linkedin-square"></div>
        <div class="bx bxl-discord"></div>
        <div class="bx bxl-gmail"></div>
      </div>
      <div class="btn-contact">Contacte</div>
    </div>
    <div class="projet">
      <div class="title">Projet</div>
      <div class="content-projet">
        <div class="projet">
          <div class="cadre"></div>
        </div>
        <div class="projet">
          <div class="cadre"></div>
        </div>
        <div class="projet">
          <div class="cadre"></div>
        </div>
        <div class="projet">
          <div class="cadre"></div>
        </div>
      </div>
    </div>
    <div class="techno">
      <div class="title-techno">Technologie</div>
      <div class="content-techno">
        <div class="section">
          <div class="title">Langages</div>
          <div class="techno-container">
            <!-- html -->
            <div class="technos">
              <div class="cadre-techno">
                <i class="bx bxl-html5"></i>
              </div>
              <div class="name-techno"> html </div>
            </div>
            <!-- css -->
            <div class="technos">
              <div class="cadre-techno">
                <i class="bx bxl-css3"></i>
              </div>
              <div class="name-techno"> css </div>
            </div>
            <!-- sass -->
            <div class="technos">
              <div class="cadre-techno">
                <i class="bx bxl-sass"></i>
              </div>
              <div class="name-techno"> sass</div>
            </div>
            <!-- angular -->
            <div class="technos">
              <div class="cadre-techno">
                <i class="bx bxl-angular"></i>
              </div>
              <div class="name-techno"> angular </div>
            </div>
            <!-- typescript -->
            <div class="technos">
              <div class="cadre-techno">
                <i class="bx bxl-typescript"></i>
              </div>
              <div class="name-techno"> typescript </div>
            </div>
            <!-- mysql -->
            <div class="technos">
              <div class="cadre-techno">
                <img src="assets\mysql-svgrepo-com.svg"/>
              </div>
              <div class="name-techno"> mysql </div>
            </div>
            <!-- javascript -->
            <div class="technos">
              <div class="cadre-techno">
                <i class="bx bxl-javascript"></i>
              </div>
              <div class="name-techno"> javascript </div>
            </div>
            <!-- php -->
            <div class="technos">
              <div class="cadre-techno">
                <i class="bx bxl-php"></i>
              </div>
              <div class="name-techno"> php </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="title">Organisation</div>
          <div class="techno-container">
            <!-- git -->
            <div class="technos">
              <div class="cadre-techno">
                <i class="bx bxl-git"></i>
              </div>
              <div class="name-techno"> git </div>
            </div>
            <!-- github -->
            <div class="technos">
              <div class="cadre-techno">
                <i class="bx bxl-github"></i>
              </div>
              <div class="name-techno"> github </div>
            </div>
            <!-- gitlab -->
            <div class="technos">
              <div class="cadre-techno">
                <i class="bx bxl-gitlab"></i>
              </div>
              <div class="name-techno"> gitlab </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="title">Software</div>
          <div class="techno-container">
            <!-- Notion -->
            <div class="technos">
              <div class="cadre-techno">
                <img src="assets\notion-logo-svgrepo-com.svg"/>
              </div>
              <div class="name-techno"> notion </div>
            </div>
            <!-- figma -->
            <div class="technos">
              <div class="cadre-techno">
                <i class="bx bxl-figma"></i>
              </div>
              <div class="name-techno"> figma </div>
            </div>
            <!-- trello -->
            <div class="technos">
              <div class="cadre-techno">
                <i class="bx bxl-trello"></i>
              </div>
              <div class="name-techno"> trello </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="title">Design</div>
          <div class="techno-container">
            <!-- UX -->
            <div class="technos">
              <div class="cadre-techno">
                <i class="bx"> UX </i>
              </div>
              <div class="name-techno"></div>
            </div>
            <!-- UI -->
            <div class="technos">
              <div class="cadre-techno">
                <i class="bx"> UI </i>
              </div>
              <div class="name-techno"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="exp">
      <div class="title">Expérience</div>
    </div>
    <div class="contact">
      <div class="title">Contacte</div>
    </div>
  </div>
</div>
