<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
<div class="container">
  <div class="content">
    <div class="logo-main">
      <div class="m-red">Mc</div>
    </div>
    <div class="home" id="home">
      <div class="avatar">
        <img src="assets\IMG_20230617_202924.jpg" />
      </div>
      <div class="infos">
        <div class="bio">Bienvenue, je suis</div>
        <div class="name">Marion Calpena</div>
        <div class="biosuiteDesktop">
          <p>
            👩‍💻 Développeuse Front-end et Desinger UX/UI passionnée par la création et
            l'innovation ! Curieuse d'apprendre auprès des autres, je me suis
            formée en UX et UI pour concevoir des interfaces utilisatreurs
            intuitives. Mon objectif est de créer des expériences fluides et
            agréables pour les utilisatreurs.
          </p>

          <p>
            J'ai également acquis des compétences en conception de maquettes en
            autodidacte, ce qui me permet de donner vie à mes idées avec
            créativité et originalité. En plus de ma passion pour le
            développement, je suis une gameuse acharnée 🎮 et une mélomane
            passionnée 🎵.
          </p>

          <p>
            J'aime explorer les liens entre le monde du jeu vidéo, de la musique
            et le développement Front-end. Prête à relever de nouveaux défis et
            à continuer à apprendre, je suis toujours à l'affût des dernières
            tendances et technologies dans le domaine du Front-end. Contactez
            moi pour créer ensemble des projets uniques et inspirants ! ✨ <i>(Mise a jour en février 2024)</i>
          </p>
        </div>
        <div class="biosuite">
          <i class='bx bx-chevron-down' *ngIf="!isPanelOpen" (click)="togglePanel()"></i>
          <i class='bx bx-chevron-up' *ngIf="isPanelOpen" (click)="togglePanel()"></i>
          <p>
            👩‍💻 Développeuse Front-end Junior passionnée par la création et
            l'innovation ! Curieuse d'apprendre auprès des autres, je me suis
            formée en UX et UI pour concevoir des interfaces utilisateurs
            intuitives. Mon objectif est de créer des expériences fluides et
            agréables pour les utilisateurs.
          </p>
          <div *ngIf="isPanelOpen">
            <p>
              J'ai également acquis des compétences en conception de maquettes en
              autodidacte, ce qui me permet de donner vie à mes idées avec
              créativité et originalité. En plus de ma passion pour le
              développement, je suis une gameuse acharnée 🎮 et une mélomane
              passionnée 🎵.
            </p>

            <p>
              J'aime explorer les liens entre le monde du jeu vidéo, de la musique
              et le développement Front-end. Prête à relever de nouveaux défis et
              à continuer à apprendre, je suis toujours à l'affût des dernières
              tendances et technologies dans le domaine du Front-end. Contactez
              moi pour créer ensemble des projets uniques et inspirants ! ✨
            </p>
          </div>
        </div>
        <div class="logo-social">
          <a target="_blank" class="contour" href="https://github.com/marioncalpe" matTooltip="github">
            <div class="bx bxl-github"></div>
          </a>
          <a target="_blank" class="contour" href="https://www.linkedin.com/in/marion-calpena-90a930187"
            matTooltip="linkedin">
            <div class="bx bxl-linkedin-square"></div>
          </a>
          <a target="_blank" class="contour" href="https://discordapp.com/users/399935400921137164"
            matTooltip="discord">
            <div class="bx bxl-discord"></div>
          </a>
          <a class="contour" href="mailto:marioncalpe2a@gmail.com" matTooltip="gmail">
            <div class="bx bxl-gmail"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="projet" id="projet">
      <div class="title">Projets</div>
      <div class="content-projet">
        <div class="projet">
          <div class="cadre" (click)="openClassroom($event)">
            <img src="assets\classroom.png" />
            <div class="overlay-projet" id="overlay">
              <div class="row">
                <div class="techno-cadre">
                  <i class="bx bxl-angular"></i>
                  <i class="bx bxl-typescript"></i>
                  <i class="bx bxl-sass"></i>
                  <i class="bx bxl-nodejs"></i>
                </div>
                <div class="date">Mai - Juin 2023</div>
              </div>
              <div class="name">Creadoc Classroom</div>
              <!-- <div class="description"></div> -->
              <div class="icon">
                <i class="bx bx-link"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="projet">
          <div class="cadre" (click)="openMonify($event)">
            <img class="monifyimg" src="assets\monify.png" />
            <div class="overlay-projet" id="overlay">
              <div class="row">
                <div class="techno-cadre">
                  <i class="bx bxl-angular"></i>
                  <i class="bx bxl-typescript"></i>
                  <i class="bx bxl-sass"></i>
                  <i class="bx bxl-nodejs"></i>
                </div>
                <div class="date">Novembre - Décembre 2023</div>
              </div>
              <div class="name">Monify V.1</div>
              <!-- <div class="description"></div> -->
              <div class="icon">
                <i class='bx bxl-github'></i>
              </div>
            </div>
          </div>
        </div>
        <div class="projet">
          <div class="cadre">
            <img src="assets\comingsoon.png" />
            <div class="overlay-projet" id="overlay">
              <div class="row"></div>
              <div class="name">Coming Soon</div>
              <!-- <div class="description"></div> -->
              <div class="icon"></div>
            </div>
          </div>
        </div>
        <div class="projet">
          <div class="cadre">
            <img src="assets\comingsoon.png" />
            <div class="overlay-projet" id="overlay">
              <div class="row"></div>
              <div class="name">Coming Soon</div>
              <!-- <div class="description"></div> -->
              <div class="icon"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="techno" id="techno">
      <div class="title-techno">Technologie</div>
      <div class="content-techno">
        <div class="technoSolo">
          <!-- sass -->
          <i class="bx bxl-sass"></i>
          <div class="sass">SCSS</div>
        </div>
        <div class="technoSolo">
          <!-- angular -->
          <i class="bx bxl-angular"></i>
          <div class="angular">Angular</div>
        </div>
        <div class="technoSolo">
          <!-- typescript -->
          <i class="bx bxl-typescript"></i>
          <div class="typescript">TypeScript</div>
        </div>
        <div class="technoSolo">
          <!-- mysql -->
          <i class="bx bxs-coin-stack"></i>
          <div class="mysql">MySQL</div>
        </div>
        <div class="technoSolo">
          <!-- javascript -->
          <i class="bx bxl-javascript"></i>
          <div class="javascript">JavaScript</div>
        </div>
        <div class="technoSolo">
          <!-- php -->
          <i class="bx bxl-php"></i>
          <div class="php">Php</div>
        </div>
        <div class="technoSolo">
          <!-- git -->
          <i class="bx bxl-git"></i>
          <div class="git">Git</div>
        </div>
        <div class="technoSolo">
          <!-- github -->
          <i class="bx bxl-github"></i>
          <div class="github">Github</div>
        </div>
        <div class="technoSolo">
          <!-- gitlab -->
          <i class="bx bxl-gitlab"></i>
          <div class="gitlab">Gitlab</div>
        </div>
        <div class="technoSolo">
          <!-- trello -->
          <i class="bx bxl-trello"></i>
          <div class="trello">Trello</div>
        </div>
        <div class="technoSolo">
          <!-- figma -->
          <i class="bx bxl-figma"></i>
          <div class="figma">Figma</div>
        </div>
        <div class="technoSolo">
          <!-- ux / ui -->
          <i class="bx bx-layout"></i>
          <div class="ux">UX/UI</div>
        </div>
        <div class="technoSolo">
          <!-- agile -->
          <img width="50" height="50" src="https://img.icons8.com/windows/64/agile.png" class="image" />
          <div class="agile">Agile</div>
        </div>
      </div>
    </div>
    <div class="exp" id="exp">
      <div class="title">Expériences</div>
      <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture"></div>

          <div class="cd-timeline-content">
            <h2>Freelance chez Com-mentis</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                Designeur UX / UI
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Novembre 2023 - Maintenant
              </span>
            </div>
            <ul class="content-skills">
              <li>Wix</li>
              <li>Wix by vélo</li>
              <li>Gestion client</li>
              <li>Agile</li>
              <li>UX</li>
              <li>UI</li>
            </ul>
          </div>
          <!-- cd-timeline-content -->
        </div>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture"></div>

          <div class="cd-timeline-content">
            <h2>Stagiaire NeuroMediaSoft</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                Développeur Front-end
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Janvier - Juillet 2023
              </span>
            </div>
            <ul class="content-skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>Angular</li>
              <li>TS</li>
              <li>Agile</li>
              <li>Git</li>
              <li>UX</li>
              <li>UI</li>
            </ul>
          </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture"></div>

          <div class="cd-timeline-content">
            <h2>Master Développeur Full Stack</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                Etudiant
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Septembre 2021 - Juin 2023
              </span>
            </div>
            <ul class="content-skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>TS</li>
              <li>JS</li>
              <li>PHP</li>
              <li>NodeJS</li>
              <li>Agile</li>
              <li>Git</li>
              <li>MySQL</li>
            </ul>
          </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture"></div>

          <div class="cd-timeline-content">
            <h2>Licence Ingénieur Parcours Informatique</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                Etudiant
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Septembre 2020 - Juin 2021
              </span>
            </div>
            <ul class="content-skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>PHP</li>
              <li>Agile</li>
              <li>Git</li>
            </ul>
          </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture"></div>

          <div class="cd-timeline-content">
            <h2>BTS SIO option Slam</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                Etudiant
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Septembre 2017 - Juin 2019
              </span>
            </div>
            <ul class="content-skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>PHP</li>
              <li>CMD</li>
              <li>Git</li>
              <li>Agile</li>
            </ul>
          </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture"></div>

          <div class="cd-timeline-content">
            <h2>Stagiaire Ollandini Voyages</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                Développeur Full Stack
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Janvier 2019 - Mars 2019
              </span>
            </div>
            <ul class="content-skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>JS</li>
              <li>Git</li>
              <li>Agile</li>
            </ul>
          </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture"></div>

          <div class="cd-timeline-content">
            <h2>Alternante SAGES Informatique</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                Développeur Full Stack
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Janvier 2018 - Août 2018
              </span>
            </div>
            <ul class="content-skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>JS</li>
              <li>PHP</li>
              <li>Git</li>
              <li>Agile</li>
            </ul>
          </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->
      </section>
      <!-- cd-timeline -->
    </div>
    <!-- <div class="scroll-to-top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
      <button type="button" class="btntotop" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
          <i class='bx bx-chevron-up'></i>
      </button>
    </div> -->
    <div class="footer">
      <div class="text"> Contactez moi </div>
      <div>
        <form [formGroup]="form" (submit)="send()" class="form">
          <div class="nameEmail">
            <div style="display: flex; flex-direction: column;gap: 20px;">
              <label for="name">Nom</label>
              <input formControlName="from_name" type="text" name="name" id="name" placeholder="Marion Calpena" />
            </div>
            <div style="display: flex; flex-direction: column; gap: 20px;">
              <label for="email">Email</label>
              <input formControlName="from_email" type="email" name="email" id="email"
                placeholder="votremail@mail.com" />
            </div>
          </div>
            <label for="subject">Object</label>
            <input formControlName="subject" type="text" name="subject" id="subject"
              placeholder="Site web, Design, etc.." />
            <label for="message">Message</label>
            <textarea formControlName="message" rows="6" name="message" id="message"
              placeholder="Bonjour. . ."></textarea>
            <button type="submit">Envoyer</button>
        </form>
      </div>
      <!-- <img class="gif" src="assets\giphy.gif"> -->
    </div>
    <div class="svg">
      <img src="assets\background2.png" class="backcircuit" />
    </div>
    <div style="font-size: 14px;" class="copyright"> © Marion Calpena {{currentYear}}</div>
  </div>

  <modal [date]="'Mai - Juillet 2023'" *ngIf="modal.classroom.status" (onClose)="modal.classroom.status = false">
    <div class="head">
      <div class="titre">Classroom</div>
      <div class="lienprojet">
        <i class="bx bxl-angular" matTooltip="angular"></i>
        <i class="bx bxl-typescript" matTooltip="typescript"></i>
        <i class="bx bxl-sass" matTooltip="sass"></i>
        <i class="bx bxl-nodejs" matTooltip="nodejs"></i>
        <a href="https://www.creadocforschool.com/fr/" target="_blank">
          <i class="bx bx-link" matTooltip="creadoc"></i>
        </a>

      </div>
    </div>
    <div class="pres">
      La fonctionnalité Classroom de Creadoc for School permet aux enseignants d'intégrer des documents et des fiches
      qu'ils souhaitent partager avec leurs étudiants. Toutefois, dans cette première version, les fiches interactives
      ne sont accessibles qu'avec un code d'authentification spécifique à chaque enseignant. Cette approche s'avère
      très pratique pour les exercices en classe, que ce soit au tableau ou sur un tableau interactif. Cependant,
      cette version ne permet pas encore aux enseignants de créer des devoirs interactifs ni d'évaluer
      individuellement les élèves.<br>
    </div>
    <div class="description">
      <div class="CDA">
        <b class="miniTitle">Le cahier des charges :</b>
        <ul>
          <li>Maintenir le code "class" (code d'authentification) pour référencer le bon enseignant tout en
            introduisant un code personnel
            unique pour chaque enseignant et ses élèves.</li>
          <li>Créer deux interfaces distinctes, une pour les enseignants et une pour les étudiants.</li>
          <li>
            Pour l'interface enseignants, permettre la création de groupes ou de classes personnalisés avec la
            possibilité de sélectionner les élèves.
          </li>
          <li>
            Offrir la capacité de créer différentes sections au sein de ces groupes pour organiser les documents en
            fonction des besoins.
          </li>
          <li>Permettre aux enseignants de visualiser le score de chaque élève sur chaque document, afin de savoir si
            le devoir a été complété, d'afficher la note attribuée, ainsi que les points à corriger.</li>
          <li>Permettre aux enseignants de visualiser individuellement chaque élève, en accédant à leurs classes ou
            groupes, aux documents qu'ils ont réalisés et aux devoirs assignés, avec les scores correspondants.</li>
          <li>Pour l'interface étudiant, permettre l'accès aux classes ou groupes auxquels ils ont été assignés, ainsi
            que la visualisation des documents à réaliser ou déjà complétés, avec un score global affiché.</li>
        </ul>
      </div>
    </div>
    <div class="illustration">
      <div>
        <b class="miniTitle"> Interface enseignant</b>
        <div class="enseignant">
          <img class="desktopgif" src="assets\DesktopEnseignantClassroom.gif">
          <img class="mobilegif" src="assets\MobileEnseignantClassroom.gif">
        </div>
      </div>
      <div>
        <b class="miniTitle"> Interface étudiante</b>
        <div class="student">
          <img class="desktopgif" src="assets\DesktopStudentClassroom.gif">
          <img class="mobilegif" src="assets\MobileStudentClassroom.gif">
        </div>
      </div>
    </div>
  </modal>
  <modal [date]="'Novembre - Décembre 2023'" *ngIf="modal.monify.status" (onClose)="modal.monify.status = false">
    <div class="head">
      <div class="titre">Monify V.1</div>
      <div class="lienprojet">
        <i class="bx bxl-angular" matTooltip="angular"></i>
        <i class="bx bxl-typescript" matTooltip="typescript"></i>
        <i class="bx bxl-sass" matTooltip="sass"></i>
        <i class="bx bxl-nodejs" matTooltip="nodejs"></i>
        <a href="https://github.com/Gwe2B/maxe-frontend" target="_blank">
          <i class="bx bxl-github" matTooltip="github"></i>
        </a>

      </div>
    </div>
    <div class="pres">
      Monify est un projet qui prend son origine dans une problématique simple. En tant qu'auto-entrepreneur, j'ai dû
      effectuer plusieurs calculs pour déterminer mes obligations envers l'organisme de l'URSSAF et le montant que je
      pouvais me verser comme salaire. Aucun site web ou application ne répondait pleinement à mes besoins. C'est
      alors que j'ai pris la décision de créer une application qui corresponde à mes attentes.

      Avec l'aide de Gwenaël Guiraud, un ami développeur Back-end, nous avons mis en place Monify V.1.<br>
    </div>
    <div class="description">
      <div class="CDA">
        <b class="miniTitle">Le cahier des charges :</b>
        <ul>
          <li>Un formulaire comprenant les champs suivants : nom, date, montant reçu, taux de prestation, taux d'impôt
            sur le revenu et taux de formation professionnelle libérale.</li>
          <li>Une interface permettant de visualiser les revenus par mois, avec des totaux affichés. Cette
            fonctionnalité facilite également l'entrée des revenus mensuels sur le site de l'URSSAF.</li>
          <li>
            Une représentation graphique des totaux des revenus sur une période donnée, offrant une vue d'ensemble
            claire et visuelle.
          </li>
          <li>
            Intégration d'un système de login pour garantir la sécurité des données, avec la possibilité de créer des
            comptes pour d'autres utilisateurs.
          </li>
          <li>Un menu offrant des options de gestion telles que le changement de mot de passe, ainsi qu'une option
            pour se déconnecter et sécuriser l'accès à l'application.</li>
          <li>Fonctionnalité permettant de rendre l'application accessible en ligne, afin que d'autres utilisateurs
            puissent également en bénéficier et gérer leurs revenus de manière efficace.</li>

        </ul>
      </div>
    </div>
    <div class="illustration">
      <div>
        <b class="miniTitle"> Interface Version 1</b>
        <div class="enseignant">
          <img class="desktopgif" src="assets\monify1.gif">
        </div>
      </div>
    </div>
    <div class="description">
      <div class="CDA">
        <b class="miniTitle">Prochaine update :</b>
        <ul>
          <li>Adapter l'application pour une utilisation sur les appareils mobiles, offrant ainsi une expérience
            optimisée sur les smartphones et les tablettes.</li>
          <li>Intégrer une interface conviviale permettant aux utilisateurs de créer des factures facilement et
            rapidement, en saisissant les détails nécessaires tels que les informations sur le client, les produits ou
            services fournis, les quantités, les prix, etc.</li>
          <li>Ajouter une nouvelle section dans l'application dédiée à la gestion des comptes d'épargne. Les
            utilisateurs pourront visualiser leurs comptes épargne, effectuer des dépôts, des retraits, consulter leur
            historique de transactions, et définir des objectifs d'épargne.</li>
          <li>Intégrer une fonctionnalité permettant aux utilisateurs de fournir des retours sur l'application
            directement depuis l'interface. Cela peut inclure la possibilité de laisser des commentaires, de noter
            l'application, de signaler des problèmes ou de proposer des fonctionnalités nouvelles. Ces retours seront
            essentiels pour améliorer continuellement l'expérience utilisateur et répondre aux besoins de la
            communauté d'utilisateurs.</li>
        </ul>
      </div>
    </div>
  </modal>
</div>