<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div class="container">
  <div class="sidenav">
    <div class="logo-main">
      <div class="m-red">Mc</div>
      <div class="m-blue">Mc</div>
    </div>
    <div class="logo-menu">
      <div class='bx bx-home-alt-2'></div>
      <div class='bx bx-archive'></div>
      <div class='bx bx-code-alt'></div>
      <div class='bx bx-certification'></div>
      <div class='bx bx-envelope'></div>
    </div>
    <div class="text-certificat">© 2023 Marion Calpena.</div>
  </div>
  <div class="content">
    <div class="home">
      <div class="avatar">
        <img scr="C:\wamp64\www\Portfolio2023\src\IMG_20230617_202924.jpg"/>
      </div>
      
    </div>
    <div class="projet"></div>
    <div class="techno"></div>
    <div class="exp"></div>
    <div class="contact"></div>
  </div>
</div>
