@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
$background: #0a0a0a;
$white: #fff;
$blue: #0b83b8;
$red: #ff4385;
$font-Pacifico: "Pacifico", cursive;
$font-Segoe: "Segoe UI";
$gradien: linear-gradient(45deg, #9edbff, #b3a0ff 50%, #f29dff);
$textshadowgradien: 0 0px 20px rgba(232, 168, 255, 0.5);

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $background;

  .sidenav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    width: 5%;
    height: 100%;
    padding: 10px 5px;
    border-right: 1px solid rgba(255, 255, 255, 0.21);

    .logo-main {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5%;
      .m-red {
        position: absolute;
        background: $gradien;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $font-Pacifico;
        font-size: 42px;
        line-height: 40px;
        text-shadow: $textshadowgradien;
        letter-spacing: 0;
      }
      // .m-blue {
      //   color: $blue;
      //   font-family: $font-Pacifico;
      //   font-size: 42px;
      //   padding-left: 6px;
      // }
    }
    .logo-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 35px;
      a {
        text-decoration: none;
      }
      .bx {
        font-size: 42px;
        color: $white;
        cursor: pointer;
        &:hover {
          background: $gradien;
          text-shadow: $textshadowgradien;
          background-clip: text;
          -webkit-background-clip: text;
          &::before {
            color: transparent;
          }
        }
      }
    }
    .text-certificat {
      display: flex;
      align-items: center;
      font-size: 20px;
      color: $white;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      padding-bottom: 15px;
    }
  }
  .content {
    scroll-behavior: smooth;
    width: 95%;
    height: 100%;
    overflow: auto;
    margin: 20px;
    .home {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;
      gap: 30px;
      .avatar {
        display: flex;
        justify-content: center;
        position: relative;
        flex: 1;
        overflow: hidden;
        // transform: translateY(30px);
        img {
          object-fit: cover;
          width: 300px;
          height: 300px;
          border-radius: 50%;
          object-position: bottom;
        }
      }
      .infos {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1;
        gap: 25px;
        padding: 0 5%;
        .name {
          font-family: $font-Pacifico;
          font-size: 36px;
          color: $white;
          text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
            0 0 3px rgba(255, 255, 255, 0.3);
        }
        .bio {
          font-family: $font-Segoe;
          font-size: 20px;
          color: $white;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .logo-social {
          margin-top: 50px;
          display: flex;
          gap: 20px;
          .contour {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            padding: 5px;
            border-radius: 25px;
            background: linear-gradient(45deg, #9edbff, #b3a0ff 50%, #f29dff);
            cursor: pointer;
            .bx {
              color: $background;
              font-size: 28px;
              padding: 5px;
            }
          }
        }
        .biosuite {
          font-family: $font-Segoe;
          font-size: 14px;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          
        }
      }
    }
    .projet {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title {
        color: $white;
        font-family: $font-Pacifico;
        font-size: 36px;
        padding: 50px;
      }
      .content-projet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        .projet {
          .cadre {
            height: 250px;
            width: 400px;
            backdrop-filter: blur(7.5px);
            box-shadow: 0px 0px 20px 1px rgba(107, 107, 107, 0.068);
            background: rgba(107, 107, 107, 0.1);
            border-radius: 20px;
            display: flex;
            justify-content: center;
            &:hover {
              .overlay-projet {
                display: flex;
              }
            }
            .overlay-projet {
              position: fixed; /* Sit on top of the page content */
              display: none; /* Hidden by default */
              flex-direction: column;
              justify-content: space-between;
              width: 100%; /* Full width (cover the whole page) */
              height: 100%; /* Full height (cover the whole page) */
              border-radius: 20px;
              background-color: hsla(
                0,
                0%,
                6%,
                0.8
              ); /* Black background with opacity */
              backdrop-filter: blur(5px);
              background-size: cover;
              z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
              cursor: pointer; /* Add a pointer on hover */
              .row {
                display: flex;
                flex-direction: row;
                height: 50px;
                align-items: center;
                justify-content: space-between;
                .techno {
                  align-items: center;
                  display: flex;
                  justify-content: start;
                  flex-direction: row;
                  color: $white;
                  font-size: 28px;
                  gap: 5px;
                }
                .date {
                  background-color: #323232;
                  color: #fff;
                  font-family: Rubik, sans-serif;
                  font-size: 1rem;
                  opacity: 0.75;
                  padding: 5px 10px;
                  border-radius: 30px;
                  margin-right: 5px;
                }
              }
              .name {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 28px;
                font-family: Rubik, sans-serif;
              }
              .description {
                color: $white;
                font-size: 14px;
                padding: 10px 10px 0 10px;
              }
              .icon {
                align-items: center;
                display: flex;
                justify-content: start;
                flex-direction: row;
                padding: 10px 20px;
                color: $white;
                font-size: 28px;
                gap: 5px;
              }
            }
          }
          img {
            border-radius: 20px;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            position: relative;
            -webkit-transform: scale(1);
            transform: scale(1);
            transition: 0.25s;
            width: 100%;
            z-index: 0;
          }
        }
      }
    }
    .techno {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 5%;
      .title-techno {
        display: flex;
        justify-content: center;
        color: $white;
        font-family: $font-Pacifico;
        font-size: 36px;
        padding: 50px;
      }
      .content-techno {
        display: flex;
        flex-direction: row;
        gap: 50px;

        .bx {
          border-radius: 20px;
          padding: 5px;
          font-size: 50px;
          color: $background;
        }
        img {
          background: $gradien;
          box-shadow: $textshadowgradien;
          border-radius: 20px;
          padding: 5px;
        }
        .bx-layout {
          background: linear-gradient(135deg, #ffacd3 0.3%, #faeff7 99.68%);
          box-shadow: $textshadowgradien;
        }
        .bxl-sass {
          background: linear-gradient(135deg, #e9acff 0.3%, #ff4fce 99.68%);
          box-shadow: $textshadowgradien;
        }
        .bxl-angular {
          background: linear-gradient(
            136.47deg,
            #ffa7c1 -0.27%,
            #ff5050 99.75%
          );
          box-shadow: $textshadowgradien;
        }
        .bxl-typescript {
          background: linear-gradient(225deg, #b1b5ff 0.07%, #4260ff 99.79%);
          box-shadow: $textshadowgradien;
        }
        .bxs-coin-stack {
          background: linear-gradient(135deg, #e7a4ff -0.49%, #a532ff 100.13%);
          box-shadow: $textshadowgradien;
        }
        .bxl-javascript {
          background: linear-gradient(45deg, #ffcca8 0.21%, #fffa87 99.93%);
          box-shadow: $textshadowgradien;
        }
        .bxl-php {
          background: linear-gradient(225deg, #99daff 0.14%, #a966ff 99.86%);
          box-shadow: $textshadowgradien;
        }
        .bxl-git {
          background: linear-gradient(225deg, #ffd6bf 0.14%, #ff7272 99.86%);
          box-shadow: $textshadowgradien;
        }
        .bxl-github {
          background: linear-gradient(
            45deg,
            #89e3ff 0.29%,
            #cfffb8 50.14%,
            #ffe177
          );
          box-shadow: $textshadowgradien;
        }
        .bxl-gitlab {
          background: linear-gradient(225deg, #fff6a7, #ff6e41 99.71%);
          box-shadow: $textshadowgradien;
        }
        .bxl-trello {
          background: linear-gradient(
            225.22deg,
            #93ffff -0.09%,
            #59a5ff 100.01%
          );
          box-shadow: $textshadowgradien;
        }
        .bxl-figma {
          background: linear-gradient(
            225.22deg,
            #aae0ff -0.01%,
            #5affce 100.08%
          );
          box-shadow: $textshadowgradien;
        }
      }
    }
    .exp {
      padding: 50px 0;
      .cd-container {
        width: 90%;
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 10%;
        border-radius: 20px;
      }
      .cd-container::after {
        content: "";
        display: table;
        clear: both;
      }

      /* -------------------------------- 
      
      Main components 
      
      -------------------------------- */

      #cd-timeline {
        position: relative;
        padding: 2em 0;
        margin-top: 2em;
        margin-bottom: 2em;
      }
      #cd-timeline::before {
        content: "";
        position: absolute;
        top: 0;
        left: 25px;
        height: 100%;
        width: 4px;
        // ligne
        background: $white;
      }
      @media only screen and (min-width: 1170px) {
        #cd-timeline {
          margin-top: 3em;
          margin-bottom: 3em;
        }
        #cd-timeline::before {
          left: 50%;
          margin-left: -2px;
        }
      }

      .cd-timeline-block {
        position: relative;
        margin: 2em 0;
      }
      .cd-timeline-block:after {
        content: "";
        display: table;
        clear: both;
      }
      .cd-timeline-block:first-child {
        margin-top: 0;
      }
      .cd-timeline-block:last-child {
        margin-bottom: 0;
      }
      @media only screen and (min-width: 1170px) {
        .cd-timeline-block {
          margin: 4em 0;
        }
        .cd-timeline-block:first-child {
          margin-top: 0;
        }
        .cd-timeline-block:last-child {
          margin-bottom: 0;
        }
      }

      .cd-timeline-img {
        position: absolute;
        top: 8px;
        left: 12px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        // circle
        box-shadow: 0 0 0 4px $white, inset 0 2px 0 rgba(0, 0, 0, 0.08),
          0 3px 0 4px rgba(0, 0, 0, 0.05);
      }
      .cd-timeline-img {
        // color under circle
        background: $white;
      }
      @media only screen and (min-width: 1170px) {
        .cd-timeline-img {
          width: 30px;
          height: 30px;
          left: 50%;
          margin-left: -15px;
          margin-top: 15px;
          /* Force Hardware Acceleration in WebKit */
          -webkit-transform: translateZ(0);
          -webkit-backface-visibility: hidden;
        }
      }

      .cd-timeline-content {
        position: relative;
        margin-left: 60px;
        margin-right: 30px;
        // color background item
        backdrop-filter: blur(7.5px);
        box-shadow: 0px 0px 20px 1px rgba(107, 107, 107, 0.068);
        background: rgba(107, 107, 107, 0.1);
        border-radius: 2px;
        padding: 1em;
        .timeline-content-info {
          background: $background;
          padding: 5px 10px;
          color: rgba(255, 255, 255, 0.7);
          font-size: 12px;
          box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
          border-radius: 2px;
          i {
            margin-right: 5px;
          }
          .timeline-content-info-title,
          .timeline-content-info-date {
            width: calc(50% - 2px);
            display: inline-block;
          }
          @media (max-width: 500px) {
            .timeline-content-info-title,
            .timeline-content-info-date {
              display: block;
              width: 100%;
            }
          }
        }
        .content-skills {
          font-size: 12px;
          padding: 0;
          margin-bottom: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          li {
            background: $background;
            border-radius: 2px;
            display: inline-block;
            padding: 2px 10px;
            color: rgba(255, 255, 255, 0.7);
            margin: 3px 2px;
            text-align: center;
            flex-grow: 1;
          }
        }
      }
      .cd-timeline-content:after {
        content: "";
        display: table;
        clear: both;
      }
      .cd-timeline-content h2 {
        color: rgba(255, 255, 255, 0.9);
        margin-top: 0;
        margin-bottom: 5px;
      }
      .cd-timeline-content p,
      .cd-timeline-content .cd-date {
        color: rgba(255, 255, 255, 0.7);
        font-size: 13px;
        font-size: 0.8125rem;
      }
      .cd-timeline-content .cd-date {
        display: inline-block;
      }
      .cd-timeline-content p {
        margin: 1em 0;
        line-height: 1.6;
      }

      .cd-timeline-content::before {
        content: "";
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid #333c42;
      }

      @media only screen and (min-width: 768px) {
        .cd-timeline-content h2 {
          font-size: 20px;
          font-size: 1.25rem;
        }
        .cd-timeline-content p {
          font-size: 16px;
          font-size: 1rem;
        }
        .cd-timeline-content .cd-read-more,
        .cd-timeline-content .cd-date {
          font-size: 14px;
          font-size: 0.875rem;
        }
      }
      @media only screen and (min-width: 1170px) {
        .cd-timeline-content {
          color: white;
          margin-left: 0;
          padding: 1.6em;
          width: 36%;
          margin: 0 5%;
        }
        .cd-timeline-content::before {
          // triangle left
          top: 24px;
          left: 100%;
          border-color: transparent;
          border-left-color: rgba(107, 107, 107, 0.1);
          backdrop-filter: blur(7.5px);
          box-shadow: 0px 0px 20px 1px rgba(107, 107, 107, 0.068);
        }
        .cd-timeline-content .cd-date {
          position: absolute;
          width: 100%;
          left: 122%;
          top: 6px;
          font-size: 16px;
          font-size: 1rem;
        }
        .cd-timeline-block:nth-child(even) .cd-timeline-content {
          float: right;
        }
        .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
          top: 24px;
          left: auto;
          right: 100%;
          border-color: transparent;
          border-right-color: rgba(107, 107, 107, 0.1);
          backdrop-filter: blur(7.5px);
          box-shadow: 0px 0px 20px 1px rgba(107, 107, 107, 0.068);
        }
        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
          float: right;
        }
        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
          left: auto;
          right: 122%;
          text-align: right;
        }
      }

      .title {
        display: flex;
        justify-content: center;
        color: $white;
        font-family: $font-Pacifico;
        font-size: 36px;
        padding: 10px;
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 5%;
      .title {
        color: $white;
        font-family: $font-Pacifico;
        font-size: 36px;
        margin: 20px;
      }
      .form {
        padding-top: 20px;
        form {
          display: flex;
          flex-direction: column;

          ::ng-deep .mdc-text-field {
            border-radius: 10px;
            backdrop-filter: blur(7.5px);
            box-shadow: 0px 0px 20px 1px rgba(107, 107, 107, 0.068);
            background: rgba(107, 107, 107, 0.1);
            color: $white;
          }
          mat-label {
            color: $white;
          }
          .namemail {
            display: flex;
            flex-direction: row;
            gap: 20px;
            width: 100%;
            .mat-mdc-form-field {
              min-width: 400px;
            }
            .name {
            }
            .email {
            }
          }
          .subject {
          }
          .message {
          }
          .btn-send {
            display: flex;
            justify-content: center;
            background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box,
              linear-gradient(45deg, #9edbff, #b3a0ff 50%, #f29dff) border-box;
            border-radius: 50em;
            border: 2px solid transparent;
            backdrop-filter: blur(7.5px);
            box-shadow: 0 0 10px rgb(255, 255, 255, 0.3);
            cursor: pointer;
            margin-bottom: 30px;
            &:hover {
              background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 0))
                  padding-box,
                linear-gradient(45deg, #9edbff, #b3a0ff 50%, #f29dff) border-box;
              color: #0a0a0a;
              .txt {
                color: #0a0a0a;
                -webkit-background-clip: unset;
                background-clip: unset;
                background: transparent;
                -webkit-text-fill-color: unset;
              }
            }
            .txt {
              padding: 10px;
              background: $gradien;
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
              font-family: $font-Pacifico;
              font-size: 24px;
              line-height: 40px;
              text-shadow: $textshadowgradien;
              letter-spacing: 0;
            }
          }
        }
      }
    }
  }
}
